.shortestlongesttrack__container {
    display: flex;
    position: relative;
}

.shortestlongesttrack__track-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 175px;
    min-height: 275px;
    padding: 5px;
    position: relative;
}

.shortestlongesttrack__left-track {
    margin: 5px 0px 5px 5px;
    border-right: 1px solid black;
}

.shortestlongesttrack__right-track {
    margin: 5px 5px 5px 0px;
    border-left: 1px solid black;
}

.shortestlongesttrack__left-track h2 {
    margin: 30px 0px 15px 0px;
}

.shortestlongesttrack__artist {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortestlongesttrack__right-track h2 {
    margin: 30px 0px 15px 0px;
}
