/* global styles */

.App {
  /* background-color: #01401d; */
  position: relative;
  min-height: 100vh;
}

body,
html {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
}

:root {
  --default-white: #f2f2f2;
  --default-black: #1C1C1E;
  --default-gray: #696969;
  --default-light-gray: #787878;
  --default-lighter-gray: #a1a1a1;

  --default-green: #04AA6D;
  --default-dark-green: #03774c;

  --default-red: #e35b5b;


  --hover-white: #ddd;
  --fullwidth: 100%;
}

button {
  transition-duration: 0.4s;
}








/* Forms */
.form {
  /* margin: 10px;
  padding: 10px; */
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}

input {
  width: 100%;
  max-width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* .form-button {
  background-color: var(--default-green);
  color: var(--default-white);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border:2px solid var(--default-green);
}

.form-button:hover {
  background-color: var(--default-white);;
  color: var(--default-black);
} */


/* page */
/* .page-container {
  position: relative;
  min-height: 100vh;
} */
.page  {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(145deg, var(--default-green) -10%, var(--default-black));
  background-size: cover;
  background-position: center;
  /* position: relative;
  min-height: 90vh; */
}

.warning {
  font-size: 16px;
  padding: 10px 0px;
  color: var(--default-red);
}

.link {
  display: inline-block;
  margin: 5px 0px 10px 0px;
}

.submit-button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: var(--default-green);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin: 15px 0px 15px 0px;
  border:2px solid var(--default-green);
}

.submit-button:hover {
  background-color: var(--default-white);; /* Green */
  color: var(--default-black);
}


/* add-playlist-form */

.playlistLinksWrapper{
  text-align: center;
}

.playlistLinksContainer {
  display: flex;
  flex-wrap: wrap;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  text-align: center;
  margin: 0px auto;
}

.loader-override-margins {
  margin: 15px auto !important;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
