.trackgrid__heading {
    margin: 0px auto 0px 5px;
}

.trackgrid__heading h2 {
    margin: 10px 0px;
}

.trackgrid__container {
    margin: 30px 0px;
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    max-height: 800px;
    overflow: scroll;
}

/* Every other row has different background color to tell rows apart */
/* will depend on how many columns we have */
/* works when sorting items by any column type too  */
/* an + b where a = 2 x N and N is number of headers and b is offset
N will also determine how high our offset needs to reach starting at 1*/
/* 22 headers */
.trackgrid__container > .trackgrid__item:nth-child(44n + 1),
.trackgrid__container > .trackgrid__item:nth-child(44n + 2),
.trackgrid__container > .trackgrid__item:nth-child(44n + 3),
.trackgrid__container > .trackgrid__item:nth-child(44n + 4),
.trackgrid__container > .trackgrid__item:nth-child(44n + 5),
.trackgrid__container > .trackgrid__item:nth-child(44n + 6),
.trackgrid__container > .trackgrid__item:nth-child(44n + 7),
.trackgrid__container > .trackgrid__item:nth-child(44n + 8),
.trackgrid__container > .trackgrid__item:nth-child(44n + 9),
.trackgrid__container > .trackgrid__item:nth-child(44n + 10),
.trackgrid__container > .trackgrid__item:nth-child(44n + 11),
.trackgrid__container > .trackgrid__item:nth-child(44n + 12),
.trackgrid__container > .trackgrid__item:nth-child(44n + 13),
.trackgrid__container > .trackgrid__item:nth-child(44n + 14),
.trackgrid__container > .trackgrid__item:nth-child(44n + 15),
.trackgrid__container > .trackgrid__item:nth-child(44n + 16),
.trackgrid__container > .trackgrid__item:nth-child(44n + 17),
.trackgrid__container > .trackgrid__item:nth-child(44n + 18),
.trackgrid__container > .trackgrid__item:nth-child(44n + 19),
.trackgrid__container > .trackgrid__item:nth-child(44n + 20),
.trackgrid__container > .trackgrid__item:nth-child(44n + 21),
.trackgrid__container > .trackgrid__item:nth-child(44n + 22)
{
    background: #e6e6e6;
}

.trackgrid__header {
    padding: 10px;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    /* COME BACK TO THIS AFTER DECIDING COLORS */
    background-color: #878787;
    border: 1px solid #646464;
    z-index: 1;
}

.trackgrid__header-toggle-sort {
    cursor: pointer;
}

.trackgrid__table-header {
    font-size: 18px;
    padding: 5px;
}

.trackgrid__sortable-icons {
    display: flex;
    flex-direction: column;
    margin: auto 5px;
}

.trackgrid__arrow {
    font-size: 10px;
}

.trackgrid__item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #c7c7c7;
    padding: 5px 0px;
}

.trackgrid__item > div > div > img{
    padding: 5px;
}

.trackgrid__item > ul {
    margin: 15px 0px;
}

.trackgrid__audio-container {
    padding: 5px;
    /* margin: 5px; */
}

.trackgrid__audio-button {
    height: 30px;
    width: 30px;
    font-size: 15px;
    border-radius: 50%;
    border: 2px solid var(--default-gray);
    text-align: center;
    cursor: pointer;
}
  
.trackgrid__audio-button > svg {
    padding: 2px 1px 1px 1px;
}

/* prevent icon from interfering with clicks on button 
    - specifically for Font Awesome Play and Pause icons */
.trackgrid__audio-button [data-prefix='fas'] {
    pointer-events: none;
}

audio::-webkit-media-controls-mute-button {
  display: none !important;
}

audio::-webkit-media-controls-volume-slider {
  display: none !important;
}

audio:not([controls]) {
  display: none !important;
}

