.playlist-tile {
    margin: 5px;
    background-color: var(--default-lighter-gray);
    border-radius: var(--form-border-radius);
    text-align: center;
    max-width: 220px;
}

.playlist-tile:hover {
    -webkit-filter: brightness(85%);
    -webkit-transition: all 10ms ease;
    -moz-transition: all 10ms ease;
    -o-transition: all 10ms ease;
    -ms-transition: all 10ms ease;
    transition: all 10ms ease;
}

.playlist-tile img {
    border-top-left-radius: var(--form-border-radius);
    border-top-right-radius: var(--form-border-radius);
    margin: 0px auto;
    width: 100%;
    height: 85%;
    text-align: center;
}

.playlist-tile div {
    color: var(--default-black);
    font-size: 20px;
    margin: 0px 5px;
    font-weight: bold;
    text-decoration: none;
    text-decoration-line: none;
}

.playlist-tile:link {
    text-decoration: none;
}

.playlist-tile:visited {
    text-decoration: none;
}

.playlist-tile:hover {
    text-decoration: none;
}

.playlist-tile:active {
    text-decoration: none;
}
