
.singleTrack-image-percentage{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 5px;
}

.singleTrack-grid-item {
    margin: auto 5px;
    padding: 5px;
}

.singleTrack-score{
    margin: 0px;
}