.footer {
  background-color: var(--navbar-footer-color);
  color: var(--text-light);
  width: 100%;
  min-height: 150px;
  margin: 20px 0px 0px 0px;
  margin-top: auto;
}

.footer > div, .footer > hr {
  max-width: 1200px;
}

.footer a {
  color: var(--text-light);
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
}

.footer-link-section {
  padding: 10px;
}

.footer-link-section div {
  margin: 2px 0px
}

.footer-link-section a {
  text-decoration: none;
}

.footer-link-section a:hover {
  text-decoration: underline;
}

.footer-icon{
  width: 30px;
  height: 30px;
  margin: 2px;
  padding: 5px;
}

.footer-end {
  text-align: center;
  margin: 10px auto;
}
