.formInput {
    display: flex;
    flex-direction: column;
}

.formInput input {
    padding: 15px;
    margin: 10px 0px;
    border-radius: var(--input-border-radius);
    border: 1px solid var(--input-border);
    background-color: var(--input-background);
}

.formInput label {
    font-size: 16px;
    color: var(--default-black);
}

.formInput span {
    font-size: 16px;
    padding: 3px;
    color: var(--default-red);
    display: none;
}

.formInput input:invalid[focused="true"]{
    border: 1px solid var(--default-red);
}

.formInput input:invalid[focused="true"] ~ span {
    display:block;
}

.formInput__default-width {
    width: 280px;
}

.form-container span {
    font-size: 14px;
    padding: 3px;
    color: var(--default-red);
    display: none;
}

.formInput .field-icon {
    width: 20px;
    height: 20px;
    margin: -45px 5px 15px auto;
    display: block;
    color: var(--input-security-icon);
}

