.likedSongs-playlist-tile {
    margin: 5px;
    background-color: var(--background-secondary-color);
    border-radius: var(--form-border-radius);
    text-align: center;
    max-width: 220px;
    max-height: 250px;
    cursor: pointer;
    overflow: hidden;
}

.likedSongs-playlist-tile:hover {
    -webkit-filter: brightness(var(--playlist-tile-brightness));
    /* -webkit-filter: brightness(85%); */
    -webkit-transition: all 10ms ease;
    -moz-transition: all 10ms ease;
    -o-transition: all 10ms ease;
    -ms-transition: all 10ms ease;
    transition: all 10ms ease;
}

.likedSongs-playlist-tile img {
    border-top-left-radius: var(--form-border-radius);
    border-top-right-radius: var(--form-border-radius);
    margin: 0px auto;
    width: 100%;
    height: 70%;
}

.likedSongs-playlist-tile__details-container {
    padding: 5px;
}

.likedSongs-playlist-tile__details-container div {
    text-decoration: none;
    text-decoration-line: none;
    color: var(--text-dark);

}

.likedSongs-playlist-tile__playlist-name {
    font-weight: bold;
    font-size: 20px;
}

.likedSongs-playlist-tile__playlist-owner {
    font-size: 18px;
}

.likedSongs-playlist-tile:link {
    text-decoration: none;
}

.likedSongs-playlist-tile:visited {
    text-decoration: none;
}

.likedSongs-playlist-tile:hover {
    text-decoration: none;
}

.likedSongs-playlist-tile:active {
    text-decoration: none;
}
