.banner__fixed-container {
    position: absolute;
    top: 50px;
    margin: 10px auto;
}

.banner__flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 920px;
    text-align: center;
    margin: 10px auto;
}
  
.banner {
    background-color: var(--default-red);
    text-align: center;
    border: 1px solid var(--default-black);
    border-radius: var(--button-border-radius);
    color: var(--text-light);
    font-size: 18px;
    width: 100%;
    max-width: 500px;
    align-items: center;
    justify-content: left;
    display: grid;
    grid-template-columns: 20% 80%;
}

.banner__notice {
    width: fit-content;
}

.banner__success {
    background-color: var(--default-green);
}

.banner__warning {
    background-color: var(--default-red);
}
  
.banner__icon {
    width: 25px;
    height: 25px;
    margin: 2px;
    padding: 5px;
}