.quickfacts__section {
    margin: 15px 10px;
    padding: 0px 10px;
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
    font-size: 20px;
    max-width: 400px;
}
  
.quickfacts__section-header {
    padding: 15px 0px
}
  
.quickfacts__section-playlist-title {
    margin: 9px 0px 0px 0px;
}

.quickfacts__section-playlist-author {
    margin-bottom: 10px;
}

.quickfacts__fact-container {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.quickfacts__fact-container .tooltiptext {
    left: 5%;
}

.quickfacts__fact-container .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    opacity: 1;
}

.quickfacts__fact-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.quickfacts__refresh-corner {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.quickfacts__refresh-corner:hover {
    color: green;
}

.quickfacts__refresh-corner .quickfacts__refresh-text {
    text-decoration: underline;
}

.quickfacts__refresh-tooltip {
    position: relative;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.tooltiptext {
/* .quickfacts-refresh-tooltip .tooltiptext { */
    visibility: hidden;
    width: 120px;
    background-color: var(--default-midnight);
    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
    opacity: .40;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    font-size: 16px;
    transition: all 0.3s ease-in-out;


    width: 140px;
    bottom: 120%;
    left: 50%;
    margin-left: -80px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.quickfacts__refresh-tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    opacity: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.quickfacts__refresh-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.rotate {
    animation: spin 2s linear infinite;
}
