

.icon-container {
    margin: 10px;
    padding: 10px;
    max-width: 400px;
    align-items: center;
    align-content: center;
    text-align: center;
}

.battery-top-node {
    position: relative;
    top: 10px;
    left: 30px;
    width: 40px;
    height: 0px;
    border: 9px solid black;
    border-radius: 8px;
    justify-content: center;
    /* display: inline-block; */

}

.battery-case {
    width: 100px;
    height: 200px;
    border: 10px solid black;
    border-radius: 10px;
    /* display: inline-block; */

}

.battery-fill {
    /* position: relative;
    top: 155px; */
    margin: 7px 5px;
    width: 70px;
    height: 12px;
    border: 10px solid #00b16d;
    border-radius: 5px;
    background-color: #00b16d;
}

.hidden-battery-fill {
    visibility: hidden;
}