.formInput input {
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;

}

.formInput {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.formInput label {
    font-size: 16px;
    color: var(--default-black);
}

.formInput span {
    font-size: 14px;
    padding: 3px;
    color: var(--default-red);
    display: none;
}

.formInput input:invalid[focused="true"]{
    border: 1px solid var(--default-red);
}

.formInput input:invalid[focused="true"] ~ span {
    display:block
}