
.singleTrackContainer {
    text-align: center;
    width: 175px;
    max-height: 325px;
    min-height: 275px;
    background-color: var(--default-gray);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    position: relative;
}
.singleTrackContainer > img {
    margin: 4px 0px;
}

.singleTrackContainer > h2 {
    margin: 5px 0px;
}

.singleTrackContainer > h3 {
    position: absolute;
    margin: 5px auto;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

/* .duration-heading {
    margin: 25px 0px;
}  */