.addplaylist__container{
    margin: 10px auto;
    max-width: 920px;
}

.addplaylist__form {
    background-color: var(--default-lighter-gray);
    padding: 2px 60px;
    border-radius: var(--form-border-radius);
    text-align: center;
}

.addplaylist__form-title {
    margin-bottom: 0px;
}

.addplaylist__form-subtitle {
    margin-top: 8px;
    font-weight: normal;
    font-size: 18px;
}

.addplaylist__formInput-overrides {
    margin: 0px auto;
    max-width: 450px;
}

.addplaylist__formInput-overrides input{
    margin: 0px auto;
}

.addplaylist__formInput-overrides span {
    max-width: 450px;
    margin: 0px auto 15px auto;
    color: var(--default-dark-red);
}

.addplaylist__button-override {
    max-width: 400px
}
