.add-playlist-notice {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    max-width: 920px;
    background-color: var(--default-red);
    text-align: center;
    border: 1px solid var(--default-black);
    border-radius: 6px;
    color: white;
}

.add-playlist-notice-icon {
    width: 25px;
    height: 25px;
    margin: 2px;
    padding: 5px;
}

.add-playlist-form {
    background-color: var(--default-gray);
    padding: 2px 60px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    max-width: 800px;
    margin: 10px auto;
}

.add-playlist-formInput-overrides {
    margin: 0px auto;
    max-width: 400px;
}

.add-playlist-formInput-overrides span {
    max-width: 400px;
    margin: 0px auto;
}

.add-playlist-button-override {
    max-width: 400px
}
