.navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;
}
  
.navbar a {
    /* float: left; */
    color: var(--default-white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: var(--default-white);
    color: black;
}

.navbar a.active {
    background-color: var(--default-green);
    color: white;
}

.navbar-left {
    float: left;
}

.navbar-left > div {
    padding: 10px 0px;
    margin: 0px 5px 0px 0px;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    float: right;
}

.navbar-right > div {
    padding: 10px 0px;
    margin: 0px 0px 0px 5px;
}

.user-links{
    color: white;
}
  
  