.navbar {
    overflow: hidden;
    background-color: var(--navbar-footer-color);
}
  
.navbar a {
    color: var(--text-light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.navbar a:hover {
    filter: brightness(130%);
    background-color: #1a1a1a;
}

.navbar a.active {
    background-color: var(--default-green);
    color: var(--text-light);
}

.navbar-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px auto;
    max-width: 1200px;
}

.navbar-section {
    display: flex;
    flex-direction: row;
}

.navbar-icon {
    color: white;
    pointer-events: none;
    cursor: pointer;
}
