.discoverplaylist__container {
    margin: 10px auto;
    max-width: 400px;
    text-align: center;
}

.discoverplaylist__button {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 6px;
    margin: 0px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

.discoverplaylist__button:hover {
    background-color: var(--default-green);
    cursor: pointer;
} 

.discoverplaylist__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.discoverplaylist__main div {
    margin: 0px 10px;
    text-align: left;
}

.discoverplaylist__loader {
    position: relative;
    bottom: 110px;
}

.discoverplaylist__loading {
    filter: brightness(0.4);
}
